@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*....................Colour Scheme................................*/

#top-heading {
    background-color: rgb(26, 23, 23);
}

#header {
    color: #ff3b00eb;
    text-transform: uppercase;
    letter-spacing: 4px;
}


/*................................................... Colour Scheme*/

/*....................Main Heading................................*/

#top-heading {
    padding-bottom: 35px;
    padding-top: 35px;
}

#logo-and-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*................................................... Main Heading*/

/*....................Hero Image................................*/

.hero-image {
    height: 100vh;
    background: url(/assets/images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-text-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 16%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

.hero-text-trailHeading {
    position: absolute;
    top: 16%;
    left: 79%;
    transform: translate(-50%, -50%);
    color: #ff3b00eb;
    background-color: rgb(26, 23, 23);
}

.hero-text-trailPicture {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.hero-text-map {
    position: absolute;
    top: 50%;
    left: 20%;
    height: 400px;
    width: 400px;
    transform: translate(-50%, -50%);
}

.hero-text-emailForm {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 400px;
    transform: translate(-50%, -50%);
}

.form-label {
    margin-bottom: .5rem;
    background: rgb(26, 23, 23);
    color: #ff3b00eb;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-primary {
    color: #ff3b00eb;
    background-color: rgb(26, 23, 23);
    border: 2px solid;
    border-color: #ff3b00eb;
    font-weight: bold;
    text-transform: uppercase;
}

.bold-text {
    text-transform: uppercase;
    background-color: rgb(26, 23, 23);
    color: #ff3b00eb;
    border: 2px solid;
    border-color: #ff3b00eb;
}

.buttons {
    position: absolute;
    top: 2rem;
    left: 54rem;
    display: none;
}

/*................................................... Hero Image*/


/*....................Footer................................*/

#footer {
    background-color: rgb(26, 23, 23);
}

#footer-message {
    color: #ff3b00eb;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#trademark-and-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fas {
    font-size: -webkit-xxx-large;
    color: #ff3b00eb;
    padding-right: 75px;
}

/*................................................... Footer*/